<% provide(:page_title, 'Contact Form') %>
<h1 style="text-align: center;">Contact Form</h1>
<%= form_tag(form_submit_path, :method => "post") do %>
  <% if @errors.present? %>
    <div id="error_explanation">
      <h2><%= pluralize(@errors.count, "error") %> prohibited this from being saved:</h2>

      <ul>
        <% @errors.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    
  <div class="field" style="width: 50%; margin-left: 25%;">
    <br />
    <div class="col-lg-12">
      <%= text_field_tag "contact[name]", @contact.name, :required => true, :class => 'form-control', :placeholder => "Name" %>
    <br />
    </div>
    <div class="number-container">
      <% if @contact.numbers.present? %>
        <% @contact.numbers.each_with_index do |number, index| %>
          <div class="col-lg-3">
            <%= select_tag "contact[numbers][#{index}][number_type]",  options_for_select([ "Work", "Personal", "Whatsapp" ], number["number_type"]), class: 'form-control' %>
          </div>
          <div class="col-lg-9">
            <%= number_field_tag "contact[numbers][#{index}][number]", number["number"], :required => true, :class => 'form-control', :placeholder => "Number" %>
            <br />
          </div>
        <% end %>
      <% else %>
        <div class="col-lg-3">
          <%= select_tag "contact[numbers][0][number_type]",  options_for_select([ "Work", "Personal", "Whatsapp" ]), class: 'form-control' %>
        </div>
        <div class="col-lg-9">
          <%= number_field_tag "contact[numbers][0][number]", '', :required => true, :class => 'form-control', :placeholder => "Number" %>
          <br />
        </div>
      <% end %>    
      <br />
    </div>
  </div>
  <div class="col-lg-12" style="width: 50%; margin-left: 25%;">
    <%= link_to "Add More", '#', :id => 'add_more_link' %>
    <br />
  </div>  
  <div class="actions col-lg-12" style="width: 50%; margin-left: 25%;">
    <%= submit_tag 'Submit', :class => "btn btn-success" %>
    <br />
  </div>
<% end %>
<div class="field col-lg-12" style="width: 50%; margin-left: 25%;">
  <% if ["edit", "update"].include?(params[:action]) %>
    <%= link_to 'Show', contact_path(@contact._id) %> |
  <% end %>
  <%= link_to 'Back', contacts_path %>
</div>  

<script type="text/javascript">
  $(document).ready(function(){
    number_field_count = <%= @contact.numbers.present? ? @contact.numbers.length : 1 %>;
    $('#add_more_link').click(function(){
      $('.number-container').append('<div class="col-lg-3"><select class="form-control" id="contact_'+ number_field_count +'_number_type" name="contact[numbers]['+ number_field_count +'][number_type]"><option value="Work">Work</option><option value="Personal">Personal</option>  <option value="Whatsapp">Whatsapp</option></select></div><div class="col-lg-9"><input class="form-control" id="contact_'+ number_field_count +'_number" name="contact[numbers]['+ number_field_count +'][number]" placeholder="Number" required="required" value="" type="number"><br></div>');
      number_field_count = number_field_count + 1;
      
    });
  });
</script>