
<style type="text/css">
  table, th, td {
    padding: 2px;
  } 
</style>

<h3>Listing Contacts</h3>

<%= form_tag(search_contact_path, :method => 'post') do %>
  <div class="col-lg-12">
    <div class="col-lg-3">
      <select name="contact[search_attribute]">
        <option value="name">Name</option>
        <option value="phone_number_1">Phone Number 1</option>
      </select>
    </div>
      
    <div class="col-lg-7">
      <%= text_field_tag "contact[search_query]", '', :placeholder => "Name/Phone Numer", :class => 'form-control' %>
    </div>
  </div>
  <br />
  <br />
  <br />
<% end %>  

<table class="table table-bordered table-stripped">
  <tr>
    <th>Name</th>
    <th>Number</th>
    <th colspan="3">Actions</th>
  </tr>

  <% @contacts.each do |contact| %>
    <tr>
      <td><%= contact.name %></td>
      <td><%= contact.numbers[0]["number"] %></td>
      <td><%= link_to 'Edit', edit_contact_path(contact._id) %></td>
      <td><%= link_to 'View',  contact_path(contact._id) %></td>
      <td><%= link_to 'Delete', delete_contact_path(contact._id), :data => { :confirm => "Are you sure?" }, :method => :delete %></td>
      
    </tr>
  <% end -%>  
</table>
<p><%= link_to 'New Contact',  new_contact_path %></p>