<% provide(:page_title, 'Show Contact') %>
<h3>Showing Contact</h3>
<p>Name: <%= @contact.name.humanize %></p>
<% @contact.numbers.each do |number| %>
    <p><%= "#{number["number_type"].humanize} Number" %>: <%= number["number"] %></p>
<% end %>
<p><%= link_to 'Edit', edit_contact_path(@contact._id) %> | <%= link_to 'Delete', delete_contact_path(@contact._id), :data => { :confirm => "Are you sure?" }, :method => :delete %> | <%= link_to 'Back', contacts_path %></p>
