<!DOCTYPE html>
<html>
<head>
  <title><%= raw(full_title(yield(:page_title))) %> </title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag "http://getbootstrap.com/dist/css/bootstrap.min.css" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "http://getbootstrap.com/dist/js/bootstrap.min.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
<br />
<% if notice %>
  <div class="alert alert-warning alert-dismissible fade in" role="alert"> 
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
    <strong><%= notice %></strong>
  </div>
  <p style="color: #8A6D3B;"></p>
<% end %>
<%= yield %>
</div>
</body>
</html>
